/LowPolyLight.meta
/Materials.meta
/New Lighting Settings.lighting.meta
/Nice Materials Pack 2
/Nice Materials Pack 2.meta
/Prefabs.meta
/Readme.asset
/Readme.asset.meta
/Scenes.meta
/Scripts.meta
/Settings.meta
/TutorialInfo
/TutorialInfo.meta
/UniversalRenderPipelineGlobalSettings.asset.meta